{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poll App</title>
    <link type="text/css" rel="stylesheet" href="{% static 'polls/css/style.css' %}"/>
</head>
<body>
    <hr/>
    <h1> Base </h1>
    <hr/>
    {% block pollbody %}
    
    {% endblock %}
</body>
</html>